/* ==UserStyle==
@name           Minimal Reddit
@namespace      reddit.com
@version        0.5
@description    Wide posts and remove bloat from homepage
@homepageURL  	https://github.com/zenstorage/minimal-reddit
@supportURL		https://github.com/zenstorage/minimal-reddit/issues
@updateURL    	https://github.com/zenstorage/minimal-reddit/raw/main/minimal_reddit.user.styl
@author         hdy
@preprocessor   stylus
@license        MIT


@var select theme 'Theme' {
	"Default**": "none",
	"OnColor": "#1a1a1b" 
}
@var select style 'Style' {
	"Default*": "null",
	"Acrylic": "acrylic()",
	"Transparent": "transparent()"
	
}
@var checkbox widePosts 'Wide Posts' 1
@var range widthPosts 'Margin Posts' [0, 0, 700, 10, 'px']
@var checkbox createCommunity 'Create Community' 0
@var checkbox leftSidebar 'Mnimize Left Sidebar' 0
@var checkbox hrightSidebar 'Minimize Right Sidebar' 0 
@var checkbox rrightSidebar 'Remove Right Sidebar' 0
@var checkbox chat 'Remove Chat' 1
@var checkbox createPost 'Remove Create Post' 1


==/UserStyle== */
@-moz-document domain("reddit.com") {


		
	
	
	/* Variables */
	i=!important
	

	
	
	


	/* Mixins */
	acrylic() {
		backdrop-filter: blur(3px) i;
		background-color: rgba(10, 10, 10, 0.4) i;
	}

	transparent() {
		background-color: rgba(10, 10, 10, 0.4) i
	}

	/* Themes */
	._31N0dvxfpsO6Ur5AKx4O5d {
		background-color: theme;
	}

	/* Wide Posts */
	if widePosts {


		._1OVBBWLtHoSPfGCRaPzpTf._3nSp9cdBpqL13CqjdMr2L_ {
			flex-grow: 1 i;
		}

		._31N0dvxfpsO6Ur5AKx4O5d * {
			max-width: none i;
		}

		._31N0dvxfpsO6Ur5AKx4O5d {
			min-width: 100% i;
		}

		._1npCwF50X2J7Wt82SZi6J0 * {
			max-width: none i;
		}

		._1npCwF50X2J7Wt82SZi6J0 {
			min-width: 100% i;
		}

		._2DJXORCrmcNpPTSq0LqL6i {
			--comments-overlay-offset: none i;
		}

		._3obgdFz00GvpqpuX8QCsNK {
			min-width: 100% i;
		}

		._2_tDEnGMLxpM6uOa2kaDB3 {
			max-width: 100% i;
		}
	}

	/* Width Post */
	._1OVBBWLtHoSPfGCRaPzpTf {
		margin: 0 widthPosts 0 widthPosts;
		transition: .5s ease;
	}

	/* Create Community */
	if createCommunity {
		._2uYY-KeuYHKiwl-9aF0UiL > div:nth-child(1) > button:nth-child(5) {
			display: block;
		}
	}

	/* Remove Right Sidebar */
	if rrightSidebar {
		._3Kd8DQpBIbsr5E1JcrMFTY {
			display: none i;
		}
	}

	/* Minimize Left Sidebar */
	if leftSidebar {
		._20fGT0XJD3MvX9yBsVeKMn {
			left: -15em i;
			transition: .2s ease;
		}

		._20fGT0XJD3MvX9yBsVeKMn:hover {
			left: 0em i;
		}

		#AppRouter-main-content {
			padding-left: 40px;
		}
	}

	/* Minimize Right Sidebar */
	if hrightSidebar {
		._3Kd8DQpBIbsr5E1JcrMFTY {
			flex-basis: 50px;
			width: 0;
			height: 100%;
			z-index: 9;
			transition: .2s ease-out;


			&:hover {
				transform: translate(-265px);
			}
		}

		._31N0dvxfpsO6Ur5AKx4O5d {
			padding-right: 0;
		}
	}

	/* Chat Button */
	if chat {
		._2zZ-KGHbWWqrwGlHWXR90y:nth-child(1) {
			display: none;
		}
	}

	/* Create Post Button */
	if createPost {
		._2zZ-KGHbWWqrwGlHWXR90y:nth-child(3) {
			display: none;
		}
	}


	/* Dropdrown Account */
	._2uYY-KeuYHKiwl-9aF0UiL,
	._20fGT0XJD3MvX9yBsVeKMn,
	._2vkeRJojnV7cb9pMlPHy7d,
	#INBOX--TOOLTIP,
	._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX,
	._ZhON3a3vplThB8NFwuJn,
	.TMMvbwyeh9yuHKmQWHrE3 {
		style
	}

	/* Left Dropwdown */
	.XEkFoehJNxIH9Wlr5Ilzd._3Av66iQf7_N4Z-XZxsek76 {
		background-color: rgba(10, 10, 10, 0.4) i;
	}

	/* Left Sidebar Search */
	#header-subreddit-filter {
		background: none i;
	}

	._1DeR7_QiQnu2UK0e2dDfYD {
		background: none i;
	}

	/* Navbar Seach Bar  */
	#header-search-bar {
		background: none i;
	}

	.h-jI8r2f9ozTNqu_2TBeY {
		background: none i;
	}

	/* Notifications */
	#INBOX--TOOLTIP * {
		background: none i;
	}

	/* Dropdown Notifications */
	._27rjoZBkLhiqLLjBu-xU_p,
	.icon._3pDOQfbIbQuT4PBwPGp85E {
		color: #d7dadc;
	}

	._2VDnxV3G5ZvEDq10Z-_fM9 {
		color: rgb(198, 202, 204);
	}


	/* Bloat  */
	._1FUNcfOeszr8eruqLxCMcR > div:first-child {
		display: none;
	}

	.x0hiXHicn7r3BG9m1FJH4 {
		display: none;
	}

	span._2zZ-KGHbWWqrwGlHWXR90y:nth-child(4) {
		display: none;
	}

	._2vEf-C2keJaBMY9qk_BxVn {
		margin-top: 0;
	}

	._1oRQu-aolgpPPJDblUGTw5 {
		display: none;
	}

	._1vXXD2qKLnHetdKvisFzBD {
		display: none;
	}

	._24UNt1hkbrZxLzs5vkvuDh {
		display: none;
	}

	.GCltVwsXPu5lE-gs4Nucu {
		display: none;
	}

	._3SDj_IT6ZaqCbKfC4eTjb2.sJncFX1AQ0-0SzCGc9V5L._27B2PE8qRdRlQHbzPBidG6 {
		display: none;
	}

	._3zu1R6cDitNjrJaFA1VPXj {
		display: none;
	}

	span._2zZ-KGHbWWqrwGlHWXR90y:nth-child(4) {
		display: none i;
	}

	/* earch Results */
	._2NH7qxA8P_UowZKF4-LUNe,
	._2NH7qxA8P_UowZKF4-LUNe ~ * {
		display: none;
	}

	/* Border Search Results */
	._2uYY-KeuYHKiwl-9aF0UiL {
		box-shadow: none;
	}

	/* Empty Search Results */
	._3wwag2ZgVLfNKLCuEuXF7h {
		display: none;
	}

	/* Register Warning */
	.BtYn3oMRXzNwmNMkolecQ {
		display: none;
	}

	/* Trending  */
	._3ozFtOe6WpJEMUtxDOIvtU > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
		display: none;
	}

	/* Language Change */
	._YS-SvhE12dC8aytZB1uB {
		display: none;
	}
}
